<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>FitHub</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>
      <nav>
         <div id="app-routes">
            <a href="/" id="home-link"><img src="/images/logo.png" style="width:60px"><span>FitHub</span></a>
            {{#if currentUser}}
            <a href="/exercises" class="nav-link" style="margin-left: 50px">Exercises</a>
            <a href="/calendars"  class="nav-link">Calendars</a>
            <a href="/progress"  class="nav-link">Track Progress</a>
            {{/if}}
         </div>

         <div id="auth-btns">
            {{#if currentUser}}
               <a href="/user-profile" id="profile-page"><img src="{{currentUser.image}}" style="width:40px; border-radius:100px;border: 2px solid black"><span>{{currentUser.username}}</span></a>
            {{else}}
               <a href="/log-in"  class="nav-link">Log in</a>
               <a href="/sign-up"  class="nav-link">Sign Up</a>
            {{/if}}
         </div>
      </nav>

      {{#if successMessage}}
        <div id="success">{{successMessage}}</div>
      {{/if}}

      {{#if bannedMessage}}
        <div id="bannedMess">{{bannedMessage}}</div>
      {{/if}}

      {{{body}}}

      {{#if errorMessage}}
        <div id="error">{{errorMessage}}</div>
      {{/if}}

      <script src="/js/script.js"></script>
   </body>
</html>