<div id="exercise-title">
    <h1 class="subtitle">{{exercise.name}}</h1>
    <a href="/exercises/{{exercise.bodyPart}}">Back</a>
</div>

<div id="exercise-detail-page">
    <div id="exercise">
        <div id="img-details">
            <img src="{{gifUrl}}">
        </div>
        <div id="exercise-info">
            <p><b>Body Part:</b> {{exercise.bodyPart}}</p>
            <p><b>Equipment:</b> {{exercise.equipment}}</p>
            <p><b>Target:</b> {{exercise.target}}</p>
            <p><b>Secondary Muscles:</b>
                {{#each exercise.secondaryMuscles}}
                    {{this}} |
                {{/each}}
            </p>
        </div>
    </div>

    <div id="instructions">
        <b>Instructions</b>
        <ol>
            {{#each exercise.instructions}}
                <li>{{this}}</li>
            {{/each}}
        </ol>
    </div>

    <a href="/exercises/add/{{exercise._id}}">Add {{exercise.name}}</a>
</div>
